/* 
   c1: #C08497;
   c2: #F7AF9D;
   c3: #B0D0D3;
   c4: #FFCAD4;
   c5: #FFFFFF;
*/

body {
	font-family: 'Quicksand', sans-serif;
	color: #8e9196;
	background-color: #E8F1F2;
}


.boxes {
	width:100%;
    height:100px;
}
.clear,.clearer{
	clear:both;
}
.clearer{
	display:inline;
	font-size:0;
	height:0;
	line-height:0;
}
#center-wrapper{
	margin:0 auto;
	width:920px;
}
.column{
    display:inline-block;
    width:190px;
    vertical-align: top;
    line-height:22px;
    text-align:center;
    margin-bottom:4px;
    border-radius: 7px;
    font-size: 13px;
}
.column.first{
	margin-left:0;
}
.sortable-list{
	background-color: #FFCAD4;
	list-style:none;
	margin:0;
	min-height:30px;
	padding:10px;
	border-radius: 7px;
}
.sortable-item{
	white-space: normal;
	border-radius: 7px;
	background-color:#FFF;
	cursor:pointer;
	display:block;
	margin-bottom:5px;
	padding:5px 5px;
	text-align:center;
	word-wrap: break-word;
}
#example-1-2{
	width:100%;
}
.unsortable-item{
	cursor:pointer;
	white-space: normal;
	color: #FFF;
	background-color: #F7AF9D;
	display:block;
	font-weight:bold;
	margin-top:14px;
	margin-bottom:5px;
	padding:5px 5px;
	text-align:center;
	border-radius: 7px;
	word-wrap: break-word;
}
#containment{
	background-color:#FFA;
	height:40px;
}
.placeholder{
	background-color:#BFB;
	border:1px dashed #666;
	height:58px;margin-bottom:5px;
}

#details {
	display: none;
}

.dhe-h1 {
	font-size: 28px;
	text-align: center;
	line-height:22px;
}

.dhe-h2 {
	font-size: 20px;
	text-align: center;
	line-height:30px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #8e9196;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -7px;
    right: 115%; 

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #8e9196;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

