<!-- Fromm https://devheart.org/examples/jquery-customizable-layout-using-drag-and-drop/1-getting-started-with-sortable-lists/index.html -->
<!DOCTYPE html>
<html>
    <head>

        <title>Refugees' Say</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen" />
        <link rel="shortcut icon" href="static/favicon.ico" type="static/x-icon">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    </head>
    <body class="body">
        <div id="center-wrapper">
            <div id="header">
                <h1 class="dhe-h1">Algorithm Results</h1>

                <script>
                function displayButton(x) {
                    if(document.getElementById(x).style.display == 'inline') {
                        document.getElementById(x).style.display = 'none';
                    }
                    else {
                        document.getElementById(x).style.display = 'inline';
                    }
            	}

                function showHideAll(ele, x) {
                    if(document.getElementById(ele).className == "greenbutton") {
                        document.getElementById(ele).className = "redbutton";
                    }
                    else if(document.getElementById(ele).className == "redbutton") {
                        document.getElementById(ele).className = "greenbutton";
                    }
                    var commlist = {{ jCommList | safe | noSpace }}
                    for (i = 0; i < commlist.length; i++) {
                        displayButton(commlist[i] + x)
                    }
                }

                function showHideDetails(casekey) {
                    details = ['name', 'numberoffamilymembers', 'nationality', 'languages', 'community', 'score'];
                    for (i =0; i < details.length; i++) {
                        detail = details[i];
                        divid = casekey + detail;
                        if(document.getElementById(divid).style.display == "none") {
                            document.getElementById(divid).style.display = "";
                        }
                        else {
                            document.getElementById(divid).style.display = "none";
                        }
                    }
                }


                </script>

                	<input type="button" class="greenbutton" value="Total Capacity" id="totcap" onclick="showHideAll('totcap', 'capacity')">
               		<input type="button" class="greenbutton" value="Slots in Schools" id="schoolslots" onclick="showHideAll('schoolslots', 'schoolslots')">
                	<input type="button" class="greenbutton" value="Slots in ESL Classes" id="esl" onclick="showHideAll('esl', 'eslslots')">

                <div class="dhe-clearer">&nbsp;</div>
            </div>
        </div>

        <div class="boxes">
            <div class="dhe-example-descriptione-section-content">
                <div id="example-1-2">
                    {% for key, value in communities.items() %}
                        <div class="column left">
                        <li class="unsortable-item">
                            {% for commkey, commvalue in comminfo[key[0] + ", " + key[1]].items() %}
                                {% if commkey == 'state' %}
                                , {{ commvalue }} <br />
                                {% elif commkey == 'city' %}
                                {{ commkey.capitalize() }}: {{ commvalue }}
                                {% else %}
                                <span id={{ key[0] | noSpace ~ commkey | noSpace}} style="display: inline">
                                {% if commkey == 'schoolslots'%}
                                Slots in school: {{ commvalue }} <br/>
                                {% elif commkey == 'eslslots' %}
                                Slots in ESL classes: {{ commvalue }} <br/>
                                {% else %}
                                {{ commkey.capitalize() }}: {{ commvalue }} <br/>
                                {% endif %}
                                </span>
                                {% endif %}
                            {% endfor %}
                        </li>
                        <ul class="sortable-list">
                            {% for casekey, casevalue in value.items() %}
                                <li class="sortable-item" onclick={{ 'showHideDetails("'|safe ~ casekey|noSpace~ '")'|safe }}>
                                    {% for detailkey, detailvalue in casevalue.items() %}
                                        {% if detailkey == 'languages' %}
                                            <span id={{casekey|noSpace ~ detailkey|noSpace}} style="display: none">
                                                {{ detailkey.capitalize() }}: {{ ', '.join(detailvalue) }} <br/>
                                            </span>
                                        {% elif detailkey == 'name' %}
                                            <span id={{casekey|noSpace ~ detailkey|noSpace}} style="display: none">
                                                {{ detailkey.capitalize() }}: 
                                            </span>
                                            {{ detailvalue }} <br />
                                        {% elif detailkey == 'score' %}
                                            <span id={{casekey|noSpace ~ detailkey|noSpace}} style="display: none">
                                                {{ detailkey.capitalize() }}: 
                                            </span>
                                            {{ detailvalue }} <br />
                                        {% else %}
                                            <span id={{casekey|noSpace ~ detailkey|noSpace}} style="display: none">
                                                {{ detailkey.capitalize() }}: {{ detailvalue }} <br />
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endfor %}
                    <div class="dhe-clearer">&nbsp;</div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="static/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui-1.8.custom.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            	// Example 1.2: Sortable and connectable lists
            	$('#example-1-2 .sortable-list').sortable({
            		connectWith: '#example-1-2 .sortable-list'
            	});
            });

        </script>
    </body>
</html>
