<!-- Fromm https://devheart.org/examples/jquery-customizable-layout-using-drag-and-drop/1-getting-started-with-sortable-lists/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Refugees' Say</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="static/examples.css" media="screen" />
        <link rel="shortcut icon" href="static/favicon.ico" type="static/x-icon">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    </head>
    <body class="body">
        <div id="center-wrapper">
            <div id="header">
                <h1 class="dhe-h1">Algorithm Results</h1>
                <div class="dhe-clearer">&nbsp;</div>
            </div>
        </div>

        <div class="boxes">
            <div class="dhe-example-descriptione-section-content">
                <div id="example-1-2">
                    {% for key, value in communities.items() %}
                        <div class="column left">
                        <li class="unsortable-item">
                            {% for commkey, commvalue in comminfo[key[0] + ", " + key[1]].items() %}
                                {% if commkey == 'state'  or commkey == 'lon' %}
                                , {{ commvalue }} <br />
                                {% elif commkey == 'lat' %}
                                coordinates: {{ commvalue }}
                                {% else %}
                                {{ commkey }}: {{ commvalue }}
                                {% endif %}
                            {% endfor %}
                        </li>
                        <ul class="sortable-list">
                            {% for casekey, casevalue in value.items() %}
                                <li class="sortable-item">
                                    {% for detailkey, detailvalue in casevalue.items() %}
                                    {{ detailkey }}: {{ detailvalue }} <br />
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endfor %}
                    <div class="dhe-clearer">&nbsp;</div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="static/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="static/jquery-ui-1.8.custom.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            	// Example 1.2: Sortable and connectable lists
            	$('#example-1-2 .sortable-list').sortable({
            		connectWith: '#example-1-2 .sortable-list'
            	});
            });

        </script>
    </body>
</html>
